{% extends 'base.html.twig' %}

{% block title %}Support the Ocean{% endblock %}

{% block body %}
    <body style="width:100%;height:100%;">
    <div class="container-center">
        <img src="../includes/images/green_ocean.jpg">
        <h1 id="item" class="">OCEAN</h1>
        <div class="">
            <p id='left' class="items"><a href="#pollution">Marine Pollution</a></p>
            <p id='mid' class="items"><a href="#fascination">The Fascination</a></p>
            <p id='right' class="items"><a href="#plankton">Phytoplankton</a></p>
            <!--
                <ul>
                    <li id='left' class="items"><a href="#pollution">Marine Pollution</a></li>
                    <li id='mid' class="items"><a href="#fascination">The Fascination</a></li>
                    <li id='right' class="items"><a href="#plankton">Phytoplankton</a></li>
                </ul>
            -->
            <div id='pollution'></div>
        </div>
    </div>
    <div id="" class='content-border' style="height: 2000px">
        <div class="topics">
            <div class="topics-intro">
                <h2>
                    <span class="mainline">The Great Pacific Garbage Patch</span><br/>
                    <span class="subline">
                            <line style="text-decoration-line:line-through;font-weight:900;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</line>
                            &nbsp;leider unser kleinstes Problem
                        </span>
                </h2>
                <p>
                    Das Gebiet des
                    <a href='great-pacific-garbage-patch.jpg' data-lightbox="GPGP" data-title="The Great Pacific Garbage Patch">
                        Great Pacific Garbage Patch</a>
                    erstreckt sich zwischen Mittelamerika und dem südasiatischem Raum auf über 1,6 Mio km<sup style="font-size:0.65em">2</sup>;.
                    Das sich darin befindende Plastik, obwohl sehr klein, wird mit einer Menge von sehr groben 45-130.000 t angegeben.
                    Und doch macht das nur etwa 1% des im Wasser treibenden Plastiks aus.
                </p>
                <p>
                    Das Problem mit dem Plastik haben zuerst nicht wir Menschen.
                    <a href='first\sea_turtle_and_plastic_bag___Richard_Carey_2048x2048.jpg' data-lightbox="Tiere" data-title="Der Müll in den Meeren">
                        Das Problem haben die Tiere</a>
                    <a href='first\AdobeStock_240810340-718x523.jpg' data-lightbox="Tiere" data-title="Kein begrenztes Problem"></a>
                    <a href='first\69152263_2668360389843778_3247831462958858240_n.jpg' data-lightbox="Tiere" data-title="Sondern ein generelles"></a>
                    , welche das Meer bewohnen.
                    Sie verfangen sich darin und verenden in Netzen oder verwechseln Mikroplastik mit Futter.
                    Mit Plastik gefüllte Mägen und Verletzungen des Mund- und Rachenraums sowie des Magen-/Darmtraktes sind die Folgen.
                    Zuletzt kommt das Mikroplastik aber doch wieder zu uns zurück. Über die Nahrungsaufnahme gelangt es mit dem Verzehr auch in unseren Körper.
                </p>
                <p>
                    Die Eintragung des Plastiks in den Ozean geschieht zu 80% aus den Flüssen. Die restlichen 20% aus der Fischerei und anderen marinen Gewerben.
                </p>
            </div>
            <div class="topic-col left">
                <div class="topic-header">
                    <h3>
                        <span class="mainline">Support für einen sauberen Ozean</span><br/>
                        <span class="subline">
                                <line style="text-decoration-line:line-through;font-weight:900;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</line>
                                &nbsp;become a part of it
                            </span>
                    </h3>
                </div>
                <div id='top-text' class="topic-text">
                    <p>
                        Das wohl bekannteste Projekt nennt sich <a href='https://theoceancleanup.com/' target='_blank'>The Ocean Cleanup</a>.<br/><br/>In diesem Projekt wird versucht mit einer Art Filterboot den Plastikmüll
                        aus den Fluessen zu filtern, bevor dessen Wasser in den Ozean einfließen können.<br/><br/>Neben der technischen Entwicklung von Reinigungskonzepten
                        verschreibt sich dieses Projekt der Öffentlichkeitsaufklärung und steckt viel Mühe in die mediale Berichterstattung.
                    </p>
                </div>
                <div class="topic-image">
                    <img id='img-left' src="ndrDoku_plastik-die-recycling-luege.jpg">
                </div>
                <div class="topic-text">
                    <p>
                        Jedes Jahr findet am 16. September an vielen Orten weltweit der <a href='https://worldcleanupday.de/' target='_blank'>World Cleanup Day</a> statt.<br/><br/>
                        Darüber hinaus werden lokal häufig auch monatliche Treffen angeboten.<br/><br/>
                        Ob man also alleine oder in der Gruppe loszieht, das Prinzip ist simpel: Ein Beutel, ein Handschuh und im Anschluss viel Freude am sauberen Strand- oder Küstenabschnitt.
                    </p>
                </div>
            </div>
            <div class="topic-col right">
                <div class="topic-image">
                    <img src="TheOceanCleanup_Interceptor_LA_Ballona_Creek.jpg">
                </div>
                <div class="topic-text">
                    <p>
                        Politisch würde durch die Recyclingpflicht des Plastiks im Verbraucherland ein Verschiffungsgewicht
                        von 766.200 t wegfallen. Diese Menge exportierte Deutschland 2021, bevorzugt in den asiatischen Raum.<br/><br/>
                        Zu diesem Thema sollte man sich informieren und sensibilisieren. Man kann eine Achtsamkeit dafür entwickeln
                        und mittels Kaufverhalten oder Petition den Bürgerwillen signalisieren.
                        <a class="topic-link" href='https://www.ndr.de/fernsehen/Plastik-Die-Recycling-Luege,sendung1288166.html'>NDR Doku: Plastik - Die Recycling-Lüge</a>
                    </p>
                </div>
                <div class="topic-image">
                    <img src="wcd_cleanup_logo.jpg">
                </div>
                <div id='fascination'></div>
            </div>
        </div>
    </div>
    <div id="" class="content-border" style="height: 1000px">
        <div class="topics">
            <div class="topics-intro">
                <h2>
                    <span class="mainline">Die Faszination Ozean</span><br/>
                    <span class="subline"></span>
                </h2>
                <p>
                    "I believe that when we leave a place,<br/>
                    part of it goes with us<br/>
                    and part of us remains.<br/><br/>
                    Go anywhere when it is quiet, and just listen.<br/><br/>
                    After a while, you will hear the<br/>
                    echoes of all our conversations.<br/>
                    Every word we've spoken<br/>
                    and every thought we have shared or not.<br/><br/>
                    But I will admit that the part of me<br/>
                    that is going will very much miss<br/>
                    the part of you that is staying."
                </p>
                <br/><br/>
                <p>"In heaven that's all they talk about<br/>
                    the ocean 'n the sunset<br/>
                    how fuckin' wonderful it is<br/>
                    to watch that big ball of fire<br/>
                    melt into the ocean"
                </p>
            </div>
        </div>
        <div id='plankton'></div>
    </div>
    <div>
        <a href='gulfoffinland_full.jpg' data-lightbox="Plankton" data-title="Algenblüte im Baltischen Meer">
            <img src='gulfoffinland_full.jpg' style="width: 100%">
        </a>
    </div>
    <div id="" class='content-border' style="height: 1000px">
        <h2>
            <span class="mainline">Phytoplankton</span><br/>
            <span class="subline">
                    <line style="text-decoration-line:line-through;font-weight:900;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</line>
                    &nbsp;Gras des Ozeans
                </span>
        </h2>
        Warum ist das relevant und interessant?
        Phytoplankton bindet bei der Photosynthese CO<sub style="font-size:0.65em">2</sub> und ist für mindestens 50%,
        möglicherweise sogar über 70%,<br/>
        der weltweiten Sauerstoffproduktion verantwortlich.<br/><br/>

        90% der biologischen Masse im Meer besteht aus Phytoplankton. Dabei ist es im Vergleich zum menschlichen Haar (50-70 mikrometer)
        deutlich kleiner. In der kleinsten Form rangiert es bei 0.2-2 mikrometer.
        Und doch ernährt dieser Winzling den Blauwal, seines Zeichens das größte Lebewesen der Welt.
        So ist es auch nicht verwunderlich, dass Plankton nun endlich auch in der Küche ankommt.<br/><br/>

        <div class="topic-col left">
            <div class="topic-header">
                <h3>
                    <span class="mainline">Ladies and Gentleman - Phytoplankton</span><br/>
                    <span class="subline">
                            <line style="text-decoration-line:line-through;font-weight:900;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</line>
                            &nbsp; let's save the world!
                        </span>
                </h3>
            </div>
            <div id='top-text' class="topic-text">
                <p>
                    Du willst den Star dieses Abschnittes besser kennenlernen? Wahrscheinlich gibt es keinen besseren Ort als diese Seite.
                    <a href="https://planktonchronicles.org/en/" target="_blank">Plankton Chronicles</a> - klicken, staunen, verlieben.
                </p>
            </div>
            <div class="topic-image">
                <img id='img-left' src="algeInDessert.png">
            </div>
            <div class="topic-text">
                <p>
                    Deutlich kleiner, mit deutlich mehr Augenmerk auf die Öffentlichkeitsarbeit, ist das Projekt
                    <a href='https://liquid3.rs/' target='_blank'>Liquid3 - Urban Photo-Bioreactor</a>. Die als Sitzelement gestallteten Zuchtgefäße laden ein
                    wahrgenommen zu werden.<br/><br/>
                    Besonders erwähnenswert empfinde ich noch ein Projekt welches die Algen nur als Nebenprodukt erzeugt.
                    <a class="" href="https://www.windcloud.de/" target="_blank">Windcloud 4.0</a> ist ein Unternehmen
                    welches ein Rechenzentrum mit erneuerbaren Energien betreibt. Die entsehenede warme Abluft wollte der Firmengründer nicht ungenutzt entweichen
                    lassen und entschloss sich dazu diese für die Algenzucht zu verwenden. Ein durch und durch ganzheitlich gedachtes Konzept welches dringend Beachtung verdient!
                </p>
            </div>
        </div>
        <div class="topic-col right">
            <div class="topic-image">
                <img src="Sardet-cover-collage3.jpg">
            </div>
            <div class="topic-text">
                <p>
                    Sich die positiven Effekte dieses Wunderwerks zu Nutze zu machen ist das Ziel verschiedener Projekte. Dabei hat jedes eine spezifische Ausrichtung
                    und erzielt einen speziellen Zweck. Ein sehr grosses Projekt in diesem Bereich führt das Unternehmen
                    <a class="" href='https://www.brilliantplanet.com/' target="_blank">Brilliant Planet</a> an.<br/><br/>
                    Auch in Deutschland gibt es Projekte in diesem Bereich. Meist handelt es sich um Farmen, welche in entsprechenden Systemen Algen
                    produzieren, ernten und verarbeiten.
                </p>
            </div>
            <div class="topic-image">
                <img src="liquid3.png">
            </div>
            <div id='fascination'></div>
        </div>
    </div>
    <footer>

    </footer>
    </body>
    </html>



    <!-- TODOs
        > ocean-box neu aufsetzen
        > declare menu as ul li
        > mousenter - mouseleave / part of menu items
        > Parallax
            >> Hero splitten ocean/sky => parallax auf wasser und schrift ausblenden
            >> algeblum
        > scroll to jump-marks smoother
        > opacity-transition dreiteilen?
        > links stylen
        > lightbox / ggf. selbst schreiben / akt. https://lokeshdhakar.com/projects/lightbox2/

        ===

        > auf server bringen >> auf bitbucket bringen
        > via Symfony schreiben
    -->


    <script type='text/javascript'>
        $("#item").mouseenter(function(){
            $('#left').toggleClass('visible');
            $('#mid').toggleClass('visible');
            $('#right').toggleClass('visible');
            // $('img').css('opacity', '0.75');
        });
    </script>






















































    <!--     ____
            /    \       -.-
           |      |
    `~~^~~~^~~~^~~~^~~~^~~~^~~~^~~~
       ~	------      ~     ~
           --------	     "Sittin'
        ~    ------         in
          -- ---- -   ~    the
          -- ---- ---     morning
     ~   --  -- --- -       sun"
      ~   ------------           ~
       --  -- --- -  --    ~
         ---   ---- -  	        -->
{% endblock %}