<footer class="py-5">
    <div class="container-fluid footer-fluid">
        <div class="row">
            <div class="col spacer">
                <p class="footer-title">Tech Stack</p>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2 no-bullet footer-text"><a href="#techstack" class="nav-link p-0 text-muted">Front end</a></li>
                    <li class="nav-item mb-2 no-bullet footer-text"><a href="#techstack" class="nav-link p-0 text-muted">Backend end</a></li>
                    <li class="nav-item mb-2 no-bullet footer-text"><a href="#techstack" class="nav-link p-0 text-muted">Database</a></li>
                    <li class="nav-item mb-2 no-bullet footer-text"><a href="#techstack" class="nav-link p-0 text-muted">DevOps</a></li>
                </ul>
            </div>
            <div class="col spacer">
                <p class="footer-title">Interests</p>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2 no-bullet footer-text"><a href="#interests" class="nav-link p-0 text-muted">Ocean</a></li>
                    <li class="nav-item mb-2 no-bullet footer-text"><a href="#interests" class="nav-link p-0 text-muted">Biking</a></li>
                </ul>
            </div>
            <div class="col spacer">
                <p class="footer-title">Code</p>
                <ul class="nav flex-column disable">
                    <li class="nav-item mb-2 no-bullet footer-text"><a href="#gpx" class="nav-link p-0 text-muted">GPX-Calculator</a></li>
                    <li class="nav-item mb-2 no-bullet footer-text"><a href="#bplc" class="nav-link p-0 text-muted">Backpacking-Lister</a></li>
                </ul>
            </div>
            <div class="col-3">
                <form>
                    <p class="footer-title">Subscribe to our newsletter</p>
                    <p class="footer-text">Digest of what's new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
<!--                        <label for="newsletter1" class="visually-hidden">Email address</label>          -->
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"></div>
        <div class="row">
            <div class="col">
                <a href="gdpr/" class="nav-link p-0 text-muted footer-text">Datenschutz</a>
            </div>
            <div class="col">
                <a href="contact/" class="nav-link p-0 text-muted footer-text">Kontakt</a>
            </div>
            <div class="col">
                <ul class="list-unstyled d-flex">
                    <li class="ms-3 no-bullet"><a class="link-dark" href="#"><img class="icons" src="../includes/icons/whatsapp.svg"></a></li>
                    <li class="ms-3 no-bullet"><a class="link-dark" href="#"><img class="icons" src="../includes/icons/linkedin.svg" style="width:15px"></a></li>
                    <li class="ms-3 no-bullet"><a class="link-dark" href="#"><img class="icons" src="../includes/icons/mail.svg"></a></li>
                </ul>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</footer>