<nav id='nav' class="navbar navbar-expand-sm fixed-top nav-adjust">
    <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNav"
            aria-controls="mainNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="mainNav" class="collapse navbar-collapse">
        <ul class="navbar-nav w-50 nav-justified">
            <li class="nav-item"><a class="nav-link" href="#techstack" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Person</a></li>
            <li class="nav-item"><a class="nav-link" href="#interests" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Interessen</a></li>
            <li class="nav-item"><a class="nav-link" href="#code" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Code</a></li>
            <li class="nav-item"><a class="nav-link" href="#code" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">EN</a></li>
        </ul>
    </div>
</nav>
