/* # FONTS # */
@font-face {
    font-family: "GaretBook";
    src: url(../../includes/fonts/Garet/Garet-Book.woff2) format("woff2"),
        url(../../includes/fonts/Garet/Garet-Book.woff) format("woff"),
        url(../../includes/fonts/Garet/Garet-Book.ttf) format("truetype"),
        url(../../includes/fonts/Garet/Garet-Book.otf) format("opentype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "GaretHeavy";
    src: url(../../includes/fonts/Garet/Garet-Heavy.woff2) format("woff2"),
        url(../../includes/fonts/Garet/Garet-Heavy.woff) format("woff"),
        url(../../includes/fonts/Garet/Garet-Heavy.ttf) format("truetype"),
        url(../../includes/fonts/Garet/Garet-Heavy.otf) format("opentype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "InriaSerifRegular";
    src: url(../../includes/fonts/Inria/InriaSerif-Regular.woff2) format("woff2"),
        url(../../includes/fonts/Inria/InriaSerif-Regular.woff) format("woff"),
        url(../../includes/fonts/Inria/InriaSerif-Regular.ttf) format("truetype"),
        url(../../includes/fonts/Inria/InriaSerif-Regular.otf) format("opentype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "CoolveticaCondensed";
    src: url(../../includes/fonts/Coolvetica/coolvetica-condensed-rg.woff2) format("woff2"),
        url(../../includes/fonts/Coolvetica/coolvetica-condensed-rg.woff) format("woff"),
        url(../../includes/fonts/Coolvetica/coolvetica-condensed-rg.ttf) format("truetype"),
        url(../../includes/fonts/Coolvetica/coolvetica-condensed-rg.otf) format("opentype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

/* # GLOBALS # */
body {
    background-image: url("../../includes/images/webdevelopment_bg_1920x1080.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: GaretBook !important;
    color: #a7c2d6FF !important;
}
code {
    font-family: GaretBook !important;
    color: #a7c2d6FF !important;
    font-size: 1rem !important;
}
h1, h2 {
    font-weight: bold !important;
}
hr {
    width: 90vw !important;
    margin: 2% 0 0.75% 0 !important;
    opacity: 0.4 !important;
}
techstack img {
    width: 96px !important;
    margin: 10% auto;
    opacity: 0.6;
}
.py-5 {
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
    padding-bottom: 0 !important;
}

/* # BOOTSTRAP # */
.card {
    text-align: center;
    margin: 5% 17% 0 0;
    background-color: #ffffff00 !important;
}
.card-body {
    height: 200px;
}
.card-body-mod {
    /*height: 150px;*/
}
.card-header {
    border-top: var(--bs-card-border-width) solid var(--bs-card-border-color) !important;
}
hero .container-content,
code .container-content {
    height: 830px;
    width: 99%;
    padding: 1.5% 0 2% 2%;
}
hero .container-content {
    margin: 0 0 5% 3%;
}
code .container-content {
    height: 250px;
    background: linear-gradient(
            to left bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 50%,
            rgba(255, 255, 255, 0.9) 100%
    );
    margin: 0 0 0 3%;
}
techstack .container-content {
    height: 850px;
    background: linear-gradient(
            to left top,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 50%,
            rgba(255, 255, 255, 0.9) 100%
    );
    padding: 2% 0 2% 2%;
    margin: 0 0 3.5% 0;
}
techstack .container-fluid {
    margin-left: 0;
}
footer .container-fluid {
    margin-top: 0;
}
.container-fluid {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
    margin: 3.5% 0 0 0% !important;
}
.list-unstyled {
    margin: 0 !important;
}

/* NAVBAR START */
nav {
    visibility: hidden;
    width: 70%;
}
.nav-item {
    font-size: 1.3rem;
}
.nav-link {
    color: #a7c2d6 !important;
}
.navbar-toggler {
    margin: 0 20px 0 0;
}
.navbar-toggler,
.navbar-toggler-icon:focus,
.navbar-toggler-icon:active {
    border: none !important;
    box-shadow: none !important;
}
.nav-adjust {
    margin: 35px 0 0 950px;
    background-color: #6c757dCC;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

@media (max-width: 576px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    /*#mainNav.navbar-collapse.collapse.show {*/
    /*    margin-top: -50px;*/
    /*}*/
}
/* NAVBAR END */

/* HERO IMAGES AND BADGES START */
.thumbnail {
    border-radius: 15px;
    height: auto;
    width: 100%;
    overflow: hidden;
    transition: transform 0.8s, filter 0.6s ease-in-out;
    filter: brightness(95.5%);
    transition: box-shadow 0.4s ease-in-out;
}
.thumbnail:hover {
    box-shadow: 5px 5px 5px rgba(167, 194, 214, 1);
    filter: brightness(98%);
    transform: scale(1.01);
}
.hovertext, .img-text {
    font-weight: 100;
    font-size: 1.75em;
    letter-spacing: 0.3px;
    color: #a7c2d6;
    line-height: 1.3em;
    position: relative;
}
.hovertext:before {
    content: attr(data-hover);
    text-align: center;
    visibility: hidden;
    top: 675%;
    opacity: 0.1;
    transition: opacity 0.7s ease-in-out;
    -webkit-transition: opacity 0.7s ease-in-out;
    position: absolute;
    width: 101.1%;
    margin-left: -2px;
    z-index: 1;
}
.hovertext:hover:before {
    background-image: linear-gradient(to right, #f9f7f4 , #f9f7f4C0);
    opacity: 1;
    visibility: visible;
}
/* HERO IMAGES AND BADGES END */

/* FOOTER START */
.footer-title {
    font-size: 1.35rem;
}
.footer-text {
    font-size: 1rem;
}
/* FOOTER END */
.icons {
    color: #6c757d;
}
/* # CUSTOM # */
.right-thumbnail {
    margin-left: 7.5%;
}
.border-left {
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    overflow: hidden;
}
.border-right {
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    overflow: hidden;
}
.vh-90 {
    height: 90%;
}
.vw-95 {
    max-width: 96.5%;
}
.vw-90 {
    max-width: 90%;
}
.vw-100 {
    min-width: 99% !important;
    margin: 0 0 0 3.5% !important;
}


/* # DEV DEV DEV # */
.disable {
    opacity: 0.5;
}
.interests {
    height: 1058px;
    background: linear-gradient(
        to left top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.5) 15%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0.8) 85%,
        rgba(255, 255, 255, 0) 100%
    );
}
.interests-top {
    margin: 0 0 0 3%;
    position: relative;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
}
.interests-bottom {
    margin: 0 3% 0 0;
    position: relative;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}
.interests-img-text {
    font-size: 2.5em;
}
.bottom-left {
    position: absolute;
    bottom: 5%;
    left: 2.5%;
}
.top-right {
    position: absolute;
    top: 6%;
    right: 2.5%;
}
.interests-text {
    text-align: center;
    line-height: 1.75em;
    padding-top: 0.5%;
}
.hero-hr {
    width: 300px !important;
}
.wip {
    height: 150px;
    width: 500px;
    margin: 25% 0 0 25%;
}
.content-top {

}
.content-center {
    margin: 0 0 0 10%;
}
.content-bottom {
    margin: 5% 0 0 0;
}
.hero-subtitle {
    font-size: 2rem;
    letter-spacing: 1.875rem;
    padding-top: 5%;
}
.hero-subsubtitle {
    font-size: 2rem;
    letter-spacing: 1.35rem;
}

#btn-back-to-top {
    position: fixed;
    height: 5.25%;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #6c757dCC;
    border: none;
    border-radius: 50%;
    z-index: 999;
}

