<work id="myCode">
    <div id="gpx" class="container-fluid">
        <div id="bplc" style="height: 1000px">
            <h2>Code</h2>
            <div class="row">
                <div class="col-3 left">
                    <strong>GPX-Calculator</strong>
                </div>
                <div class="col-9">
                    Kleines Tool um aus exportierten GPX-Daten die Gesamtstrecke zu errechnen und um einen Korrekturwert zu korrigieren.
                </div>
            </div>
            <div class="row">
                <div class="col-3 left">
                    <strong>Backpacking-Lister</strong>
                </div>
                <div class="col-9">
                    Tool um nichts zu Hause zu vergessen und einhergehende Berechnung des Packgewichts.
                </div>
            </div>
        </div>
    </div>
</work>