<code id="code">
    <div id="gpx" class="container-fluid border-left">
        <div class="container-content border-left spacer-75 shadow">
            <div id="bplc">
                <h2>Code - erste kleine Projekte</h2><br/>
                <div class="row">
                    <div class="col-2 left">
                        <strong>Website</strong>
                    </div>
                    <div class="col-2 ">
                        in Arbeit ... .. .
                    </div>
                    <div class="col-7">
                        Ausbau durch diverse Unterseiten + Backend
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row">
                    <div class="col-2 left">
                        <strong>GPX-Rechner</strong>
                    </div>
                    <div class="col-2 ">
                        erledigt, Link folgt.
                    </div>
                    <div class="col-7">
                        Kleines Tool um aus exportierten GPX-Daten (Navigation) die Gesamtstrecke zu errechnen<br/>und um einen Korrekturwert zu korrigieren.
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row">
                    <div class="col-2 left">
                        <strong>Backpacking-Liste</strong>
                    </div>
                    <div class="col-2 ">
                        in Arbeit ... .. .
                    </div>
                    <div class="col-7">
                        Tool um nichts zu Hause zu vergessen und einhergehende Berechnung des Packgewichts.
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row">
                    <div class="col-2 left">
                        <strong>Drive</strong>
                    </div>
                    <div class="col-2 ">
                        offen
                    </div>
                    <div class="col-7">
                        Datenspeicherung und Organisation ermöglichen.
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </div>
</code>