<div class="container-content border-left spacer-75">
    <div class="row">
        <div class="col-6">
            <h1>Web Development Playground</h1>
            <div>
                <div class="wip">
                    <div class="content-top">Diese Seite ist weit davon entfernt fertig zu sein.</div>
                    <div class="content-center">
                        <div class="hero-subtitle">work in</div>
                        <hr class="hero-hr">
                        <div class="hero-subsubtitle">progress</div>
                    </div>
                    <div class="content-bottom">Aber sie macht Fortschritte. Viable solutions Alder.</div>
                </div>
            </div>
        </div>
        <div class="col">
            <a href="#techstack">
                <span class="hovertext" data-hover="my tech stack">
                    <img class="thumbnail" src="../includes/images/tom-hoellthaler-thumbnail.jpg">
                </span>
            </a>
        </div>
        <div class="col">
            <a href="#code">
                <span class="hovertext" data-hover="my code">
                    <img class="thumbnail right-thumbnail" src="../includes/images/code-on-screen-thumbnail.jpg">
                </span>
            </a>
        </div>
        <div class="col-1"></div>
    </div>
</div>