<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="container-content shiny">
                <div class="container-logo">
                    <a href="#home">
                        <img id="company-logo" src="../includes/images/fp_logo_circle.svg">
                    </a>
                </div> 
                <div class="container-name">
                    <p id="company-name">
                        <span id="company-title">Tom</span><br/>
                        <span id="company-sub-title">Hoellthaler</span>
                    </p>
                </div> 
                <div class="container-wlcm">
                    <p>Was kann Ich&nbsp;&nbsp;&nbsp;<br/>für Sie tun?</p>
                </div>
            </div>
        </div>
        <div id="col-3-1" class="col-3">
            <div class="container-img">
                <a href="#me">
                    <span class="hovertext" data-hover="About me">
                        <img class="thumbnail" src="../includes/images/tom-hoellthaler-thumbnail.png">
                    </span>
                </a>
            </div>
        </div>
        <div id="col-3-2" class="col-3">
            <div class="container-img">
                <a href="#myCode">
                    <span class="hovertext" data-hover="About my code">
                        <img class="thumbnail" src="../includes/images/code-on-screen-thumbnail.png">
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>