{% extends 'base.html.twig' %}

{% block title %}Webdevelopment by Tom Hoellthaler{% endblock %}

{% block body %}
    <div style="height:50px;"></div>
    <div class="container box">
        <nav class="navbar navbar-expand-sm bg-light navbar-light nav-justified nav-tabs">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="mainNav" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="">One</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Two</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Three</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container box">
        <p class="h1">Container 1</p>
        <div>Container 1</div>
        <img class="img-fluid" src="..\includes\images\fp_website_mockup.png">
    </div><br/>
    <div class="container box">
        <div>Regular Container</div>
        <div class="row">
            <div class="col-sm-6 box">
                one
            </div>
            <div class="col-sm box">
                two
            </div>
            <div class="col-sm box">
                three
            </div>
            <div class="col-sm box">
                four
            </div>
            <div class="col-sm box">
                five
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 display-1 box">
                one
            </div>
            <div class="col-xl display-2 box">
                two
            </div>
            <div class="col-xl display-3 box">
                three
            </div>
            <div class="col-xl display-4 box">
                four
            </div>
            <div class="col-xl display-5 box">
                five
            </div>
        </div>
    </div><br/>
    <div class="container-fluid box">
        <div>Fluid Container</div>
        <div class="row">
            <div class="col-6 box">
                one
            </div>
            <div class="col box">
                two
            </div>
            <div class="col box">
                three
            </div>
        </div>
    </div><br/>
    <div class="container-fluid box">
        <table class="table table-striped table-bordered table-primary table-hover">
            <thead class="table-success">
                <th>first</th>
                <th>last</th>
            </thead>
            <tbody>
                <tr>
                    <td>Tom</td>
                    <td>Hoellthaler</td>
                </tr>
                <tr>
                    <td>Tom</td>
                    <td>Hoellthaler</td>
                </tr>
                <tr>
                    <td>Tom</td>
                    <td>Hoellthaler</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
