{% extends 'base.html.twig' %}

{% block title %}Webdevelopment by Tom Hoellthaler{% endblock %}

{% block body %}
    <div class="container-fluid border-left">
        {% include 'nav.html.twig' %}

        <hero>
            {% include 'home/hero.html.twig' %}
        </hero>

        <main>
            <button type="button" id="btn-back-to-top" class="btn">
                <img src="../includes/icons/chevron-up.svg">
            </button>

            {% include 'home/techstack.html.twig' %}
            {% include 'home/interests.html.twig' %}
            {% include 'home/code.html.twig' %}

        </main>

        {% include 'footer.html.twig' %}

        <script type='text/javascript'>
            {#        const button = document.querySelector(".shiny");#}

            {#        const readout = document.querySelector("p");#}

            {#        button.addEventListener("mousemove", (e) => {#}
            {#            const { x, y } = button.getBoundingClientRect();#}
            {#            button.style.setProperty("--x", e.clientX - x);#}
            {#            button.style.setProperty("--y", e.clientY - y);#}
            {#        });#}

            //Get the button
            let myNav = document.getElementById("nav");
            let myButton = document.getElementById("btn-back-to-top");

            // When the user scrolls down 700px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction();
            };

            function scrollFunction() {
                if (document.body.scrollTop > 725 || document.documentElement.scrollTop > 725) {
                    myNav.style.visibility = "visible";
                    myButton.style.display = "block";
                } else {
                    myNav.style.visibility = "hidden";
                    myButton.style.display = "none";
                }
            }
            // When the user clicks on the button, scroll to the top of the document
            myButton.addEventListener("click", backToTop);

            function backToTop() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
    </div>
{% endblock %}