<interests id="interests" >
    <div class="interests">
        <div class="interests-top shadow">
            <a href="../interests/ocean">
                <img src="../includes/images/interests_phytoplankton.jpg">
                <div class="hovertext bottom-left interests-img-text">Ozean</div>
            </a>
        </div>
        <div class="hovertext">
            <div class="row">
                <h2 class="interests-text">weitere Interessen entdecken</h2>
            </div>
        </div>
        <div class="interests-bottom shadow">
            <a href="../interests/biking">
                <div class="hovertext top-right interests-img-text">Biking</div>
                <img src="../includes/images/interests_biking.jpg">
            </a>
        </div>
    </div>
</interests>