<interests>
    <a href="">
        <img class="img-interests img-interests-top" src="../includes/images/interests_phytoplankton.jpg">
        <div class="bottom-left hovertext">ocean</div>
    </a>
    <div class="hovertext">
        <div class="row gx-1 txt-interests">
            <div class="col-12">
                <p style="text-align: center">discover further interests</p>
            </div>
        </div>
    </div>
    <a href="">
        <div class="top-right hovertext">biking</div>
        <img class="img-interests img-interests-bottom" src="../includes/images/interests_biking.jpg">
    </a>
</interests>