<person id="me">
    <div id="vitae" class="container-fluid">
        <div style="height:875px; width:97.5vw;">
            <h2>Curriculum Vitae</h2>
            <div class="row row-cv">
                <div class="col left highlighting">seit 02/2023</div>
                <div class="col-3 highlighting"><strong>PHP Developer</strong><br/>Modulor GmbH, Berlin<br/>
                    <ul class="cv-list highlighting">
                        <li>mySQL</li>
                        <li>HTML 5/CSS 3</li>
                        <li>PHP 7.2/7.4/8.1</li>
                        <li>JavaScript ES6</li>
                        <li>jQuery 3</li>
                        <li>Framework (Symfony 5.2/5.4/6, Bootstrap 5)</li>
                        <li>VCS/CI/CD (Jenkins, Git)</li>
                        <li>VCS (BitBucket, Jira, GitHub)</li>
                        <li>Docker</li>
                        <li>graphQL</li>
                        <li>Cloud Computing Service (Amazon AWS)</li>
                        <li>Projektmanagement (Scrum-Master)</li>
                    </ul>
                </div>
                <div class="col left-long">10/2020 - 01/2023</div>
                <div class="col-3"><strong>Web Developer</strong><br/>digitalagenten GmbH, Berlin<br/>
                    <ul class="cv-list">
                        <li>mySQL, BigQuery</li>
                        <li>HTML 5/CSS 3</li>
                        <li>PHP 7.4/8.1</li>
                        <li>JavaScript ES6</li>
                        <li>jQuery 3</li>
                        <li>Framework (CodeIgniter 4)</li>
                        <li>CMS (Wordpress, Hubspot)</li>
                        <li>Pagebuilder (Elementor, Divi, Beaver)</li>
                        <li>Server (Apache, Nginx)</li>
                        <li>Cloud Computing Service (Google GCP)</li>
                        <li>Business Software (Zoho, Google)</li>
                        <li>Projektmanagement (Scrum-Master)</li>
                    </ul>
                </div>
                <div class="col left-long">05/2019 - 09/2020</div>
                <div class="col-3"><strong>Fachinformatiker i.d. Anwendungsentwicklung (IHK)</strong><br/>College Berufliche Weiterbildung Berlin GmbH, Berlin<br/>
                    <ul class="cv-list">
                        <li>SQL</li>
                        <li>HTML 5/CSS 3</li>
                        <li>PHP</li>
                        <li>JavaScript</li>
                        <li>jQuery</li>
                        <li>CMS (Wordpress)</li>
                        <li>Pagebuilder (Elementor)</li>
                        <li>Projektmanagement</li>
                        <li>Java 8</li>
                        <li>C++</li>
                    </ul>
                </div>
                <div class="col-12"><hr class="divider"></div>
                <div class="col-5 left">07/2014 - 04/2019</div>
                <div class="col-7 right"><strong>Selbständige Wundversorgung als Homecare-Unternehmen</strong><br/>Oberbayern/Bayern</div>
                <div class="col-5 left">04/2006 - 03/2017</div>
                <div class="col-7 right"><strong>Gesundheits- und Krankenpfleger</strong><br/>Außerklinische und klinische Intensivpflege in Rosenheim und Traunstein/Bayern</div>
                <div class="col-5 left">04/2003 - 03/2006</div>
                <div class="col-7 right"><strong>Examinierter Gesundheits- und Krankenpfleger</strong><br/>Berufsfachschule für Krankenpflege in Traunstein/Bayern</div>
                <div class="col-12"><hr class="divider"></div>
                <div class="col-5 left">07/2002</div>
                <div class="col-7 right"><strong>Mittlere Reife</strong><br/>Reiffenstuel-Realschule in Traunstein/Bayern</div>
                <div class="col-5 left">03/1984</div>
                <div class="col-7 right"><strong>Geburt</strong><br/>Traunstein/Bayern</div>
            </div>
        </div>
    </div>
</person>