<techstack id="techstack">
    <div class="container-content border-right vw-95 spacer-75 shadow">
        <div class="row">
            <h2>Tech Stack zur Umsetzung ambitionierter Projekte</h2>
        </div>
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <img class="card-img-top img" src="../includes/icons/responsive.png">
                    <div class="card-header">
                        <strong>Frontend</strong>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>HTML 5</li>
                            <li>CSS 3/Bootstrap 5</li>
                            <li>Javascript/jQuery</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <img class="card-img-top img" src="../includes/icons/programming.png">
                    <div class="card-header">
                        <strong>Backend</strong>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>PHP 7.2/7.4/8.1</li>
                            <li>Symfony 5.2/5.4/6</li>
                            <li>CodeIgniter 4</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <img class="card-img-top img" src="../includes/icons/hosting.png">
                    <div class="card-header">
                        <strong>Datenbank</strong>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>mySQL</li>
                            <li>graphQL</li>
                            <li>BigQuery</li>
                            <li>RabbitMQ</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <img id="last_icon" class="card-img-top img" src="../includes/icons/analysis.png">
                    <div class="card-header">
                        <strong>DevOps</strong>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>Server (<i>Apache, Nginx</i>)</li>
                            <li>Docker</li>
                            <li>VCS/CI/CD (<i>Git, Jenkins</i>)</li>
                            <li>Hosting Service<br/>(<i>BitBucket, GitHub</i>)</li>
                            <li>Cloud Computing Service<br/>(<i>Google GCP, Amazon AWS</i>)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col-3">
                <div class="card shadow">
                    <div class="card-header">
                        <strong>Weitere</strong>
                    </div>
                    <div class="card-body card-body-mod">
                        <ul class="list-unstyled">
                            <li>Bug tracking (<i>Jira</i>)</li>
                            <li>Project management<br/>(<i>Scrum-Master</i>)</li>
                            <li>CMS (<i>Wordpress, Hubspot</i>)</li>
                            <li>Pagebuilder<br/>(<i>Elementor, Divi, Beaver</i>)</li>
                            <li>Business Software (<i>Zoho, Google</i>)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
{#        <hr/>#}
{#        <div class="row">#}
{#            <p>bla</p>#}
{#            <p>bla</p>#}
{#        </div>#}
    </div>
</techstack>